@model IEnumerable<WebLayer.Models.FriendList>

@{
    ViewBag.Title = "Friends";
    
}

<h2>Vänlista</h2>

    


<div>
    <p>Dina vänner</p>
    @foreach (var item in Model)
    {
        //assign this values to any element of html
        //by referring it as @item.ProName, @item.Price etc.,
        <p>@item.Name1</p>
        
    }
</div>
