
@{
    ViewBag.Title = "API";
}

<h2>Bonde Söker Fru API 0.1</h2>
    <h3>api/profile/{id}/</h3>
    <p>
    Returns a profile as JSON formated data.
    </p>

   <h3>api/profile/{id}/wall/</h3> 
    <p>
    Returns a profiles wallposts as JSON formated data. 
    
    </p>


    
