<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBUsersEntities" connectionString="metadata=res://*/DBUsersModel.csdl|res://*/DBUsersModel.ssdl|res://*/DBUsersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=C:\Users\Kristoffer\Source\Repos\HT2016WinterProjekt\WebLayer\WebLayer\App_Data\DBUsers.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>