@model IEnumerable<WebLayer.Models.Walls>

@{
    ViewBag.Title = @User.Identity.Name;
}

<h2>@User.Identity.Name</h2>


<div>

    <img src="~/Default Resources/no_avatar.jpg" />
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
            
        </th>
        
    </tr>
</table>