@{
    ViewBag.Title = "Index";
    var username = User.Identity.Name;
    <script>
    $(document).ready(function(){
    $('#thumbOne').on("click", function(){
            var main = document.getElementById("mainPhoto");
            main.className = "mainPhoto";
        });
    });

  $(document).ready(function(){
    $('#thumbTwo').on("click", function(){
            var main = document.getElementById("mainPhoto");
            main.className = "mainPhoto mainPhotoTwo";
        });
    });

  $(document).ready(function(){
    $('#thumbThree').on("click", function(){
            var main = document.getElementById("mainPhoto");
            main.className = "mainPhoto mainPhotoThree";
        });
        });
    </script>
}
<head>
   
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    
   
</head>

<h2>Välkommen, @username!</h2>


<div style="align-content:center">
    
    
    <img src="~/Default Resources/main-header.png" style="text-align:center" />
    
</div>


